<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
	<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
</head>
<body>
<!--管理员列表  -->
	<div class="container" style="max-width: 1300px">
		<div class="well" >
			<table class="table table-striped text-center">
				<tr>
					<td>#</td>
					<td>部门id</td>
					<td>部门名称</td>
					<td>行政内容</td>
				</tr>
				<tr th:unless="${#strings.isEmpty(message)}" >
					<td colspan="6" th:text="${message}"></td>
				</tr>
				<tr  th:each="collect,iterStat : ${list}">
					<td th:text="${iterStat.count}">
					</td>
					<td th:text="${collect.d_id}">
					</td>
					<td th:text="${collect.d_name}">
					</td>
					<td th:text="${collect.d_do}" >
					</td>
				</tr>
			</table>
		</div>
	</div>

</body>
</html>