<?xml version="1.0" encoding="UTF-8"?>
<!--MyBatis 文件头 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 获得执行的方法 -->
<mapper namespace="com.example.company.mapper.CompanyMapper">
<!-- 自定义返回结果 -->
	<resultMap id="companyMap" type="com.example.company.entity.CompanyBean">
		<result property="c_id" column="c_id" javaType="java.lang.Integer" />
	 	<result property="c_name" column="c_name" javaType="java.lang.String"/>
		<result property="c_type" column="c_type" javaType="java.lang.String"/>
		<result property="c_code" column="c_code" javaType="java.lang.String"/>
		<collection property="items" column="c_id" ofType="com.example.company.entity.DepartmentBean">
			<id property="d_id" column="d_id" javaType="java.lang.Integer"></id>
			<result property="d_name" column="d_name" javaType="java.lang.String"></result>
			<result property="d_do" column="d_do" javaType="java.lang.String"></result>
			<result property="c_id" column="c_id" javaType="java.lang.Integer"></result>
		</collection>
	</resultMap>
	  <!-- id要唯一的，一般是下拉类的方法名 -->
    <!-- 返回的是什么类型int -->
    <select id="countUser" resultType="int">
        select count(1) from tb_company
    </select>
	 <!-- 多次插入操作 -->
	<insert id="insertUser" parameterType="java.util.List">
		insert into
		tb_company(c_id,c_name,c_type,c_code)
		value
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.c_id},#{item.c_name},#{item.c_type},#{item.c_code})
		</foreach>
	</insert>


	 <!-- 更新操作 -->
	<update id="updateUser" parameterType="com.example.company.entity.CompanyBean">
		update tb_company set c_name=#{c_name},c_type=#{c_type},c_code=#{c_code} where c_id = #{c_id}
	</update>
	<!-- 删除操作    parameterType 接收值类型 -->
	<delete id="deletUser" parameterType="Integer">
		delete from tb_company where c_id=#{id}
	</delete>
	
	<!-- 单个查询操作 -->
	<select id="selectUser" parameterType="String" resultMap="companyMap">
		select * from tb_company where c_name=#{id}
	</select>
		<!-- 所有查询操作 -->
	<select id="selectAllUser" parameterType="String" resultMap="companyMap">
	select * from tb_company
	</select>
	
</mapper>